.bold{
    font-weight: bold;
}

a{
    // color: #fff !important;
    text-decoration: none;
}

a:hover{
    text-decoration: none;
}

.mirrored{
    transform: scaleX(-1);
}

.v-checkbox .v-icon {
    color: #1ea95e;
  }
